.top-registerProduct {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-registerProduct {
    text-align: center;
    color: #000;
}

.button-backProduct {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.status-msg-registerProduct {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
}

.msg-error-registerProduct {
    background-color: red;
    border-radius: 5px;
    color: #fff;
}

.msg-success-registerProduct {
    background-color: green;
    border-radius: 5px;
    color: #fff;
}

.container hr {
    color: #fff;
    height: 2px;
}